extends layout
block append head
    script(language='Javascript', type='text/javascript', src='/socket.io/socket.io.js')
    script(language='Javascript', type='text/javascript', src='/javascripts/logic.js')

block content
    div.jumbotron
        h1 nutriFit
        h4 Welcome to a new source of nutrition
    div.panel-group#accordion
        div.panel.panel-default#section1
            div.panel-heading
                h4 Create your shake!
            div.panel-body
                div.row
                    div.col-xs-8.col-xs-offset-2
                        btn.btn-primary.btn-lg.text-center.btn-block#profileBtn Load profile
                div.row.hidden#profileSection
                    div.col-xs-4
                        img.img-responsive.img-circle(src='http://makeathon.automatica-munich.com/judges/GerhardBlahusch.png')#judge1
                    div.col-xs-4
                        img.img-responsive.img-circle(src='http://makeathon.automatica-munich.com/judges/MarcelTilly.jpg')#judge2
                    div.col-xs-4
                        img.img-responsive.img-circle(src='http://makeathon.automatica-munich.com/judges/Karl-Heinz_Wind_ITQ.jpeg')#judge3
                div.row.hidden#profileSection2
                    div.col-xs-4
                        img.img-responsive.img-circle(src='http://makeathon.automatica-munich.com/judges/Philipp_Wallner_MathWorks.jpeg')#judge4
                    div.col-xs-4
                        img.img-responsive.img-circle(src='http://makeathon.automatica-munich.com/judges/ClaudiaEhinger.jpeg')#judge5
                    div.col-xs-4
                        img.img-responsive.img-circle(src='http://makeathon.automatica-munich.com/judges/JohannGlas.jpeg')#judge6
                div.row
                    div.col-xs-12
                        h5 Or create a personal experience...
                div.row
                    div.col-xs-12
                        h6 Personal Goal:
                    div.col-xs-4
                        button.btn.btn-default#loseWeightBtn Lose weight
                    div.col-xs-4
                        button.btn.btn-default#gainMuscleBtn Gain muscle
                    div.col-xs-4
                        button.btn.btn-default#gainWeightBtn Gain weight
                div.row
                    div.col-xs-12
                        h6 Gender:
                    div.col-xs-6
                        input(type='checkbox' name='genderCheckbox' data-on-text='Male' data-off-text='Female')
                div.row
                    div.col-xs-12
                        h6 Age:
                    div.col-xs-12
                        input.form-control.slider(name='ageSlider' data-slider-min='18' data-slider-max='60')
                        p
                div.row
                    div.col-xs-12
                        btn.btn-primary.btn-lg.btn-block.text-center#send Generate recipe!
        div.panel.panel-default.hidden#section2
            div.panel-heading
                h4 Your personal shake
            div.panel-body
                div.row
                    div.col-xs-12
                        h5#personString This is the perfect recipe for you:
                        p 150g Special powder
                        p 100g Oil
                        p 20g Maltodextrin
                        p
                        p
                div.row
                    div.col-xs-12
                        h5 Nutrition facts:
                        p Serving Size: 371g
                        p Calories 100
                        p Total fat 4.6g
                        p Total carbohydrates 60.2g
                        p Protein 10.8g
                        p
                        p
                div.row
                    div.col-xs-12
                        btn.btn-primary.btn-lg.btn-block.text-center(onclick="turnDispenser()",ontouch="turnDispenser()") Shake!