doctype html
html
    block head
        title= title
        block meta
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1")
        block css
            link(href="/assets/bootstrap/css/bootstrap.min.css", rel="stylesheet")
            link(href="/assets/bootstrap-slider/css/bootstrap-slider.min.css", rel="stylesheet")
            link(href="/assets/bootstrap-switch/css/bootstrap-switch.min.css", rel="stylesheet")
        block scripts
            script(type='text/javascript', src='/javascripts/jquery.min.js')
        body
            block content
            -//footer Viel Spaß beim schreiben mit dir selbst
            script(src="/assets/bootstrap/js/bootstrap.min.js")
            script(src="/assets/bootstrap-slider/bootstrap-slider.min.js")
            script(src="/assets/bootstrap-switch/js/bootstrap-switch.min.js")
